// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400italic");

// colors
.covid-primary {
  background-color: #4472c4;
}
.covid-success {
  background-color: #00b050;
}

.covid-btn {
  width: 250px;
  height: 40px;
  background-image: linear-gradient(
    rgb(64, 70, 104),
    rgb(21, 29, 77),
    rgb(26, 36, 93)
  );
  margin-top: 20px;
  color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.covid-btn:hover {
  text-decoration: none !important;
  color: #efefef !important;
  opacity: 0.8;
}

.error {
  color: tomato;
}

.center {
  width: 100%;
  text-align: center;
}

.text-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-colume-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inactive .custom-card {
  opacity: 0.5;
}

a.card-link {
  color: rgb(4, 9, 37) !important;
  &:hover {
    text-decoration: unset !important;
  }
}

.participant {
  padding: 10px;
}

.challenge {
  background: white;
  border-radius: 14px;
  padding: 15px;
  margin: 5px;
}

.bottom_todo {
  height: 400px;
  background-image: linear-gradient(#404668, #151d4d, #1a245d);
  color: white;
}

.legal_back {
  background-image: white;
  margin-top: 50px;
}

.participant_image {
  width: 27px;
  border-radius: 20px;
}

.option_btn {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 7px;
  margin: 0px;
}

.v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divid-head {
  font-size: 11px;
  width: 100%;
  margin-bottom: -10px;
  text-align: left;
}

.footer-btn {
  width: 200px;
}

.letter-spaced {
  letter-spacing: 3px;
}

.search-menu {
  a {
    color: rgb(21, 29, 77);
    padding-left: 20px;
  }
}

.view-all a {
  font-size: 13px;
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.ant-skeleton {
  padding: 10px 20px !important;
}

.ant-comment-avatar {
  margin-top: 7px;
}

.form-label {
  margin-bottom: 0;
}

.pwd-error {
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 3px;
}

.non-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;

  .anticon {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.ant-popover-inner-content {
  padding: 0 !important;
}

.ant-popover-placement-bottomRight {
  .ant-popover-content > .ant-popover-arrow {
    right: 4px !important;
  }
  .ant-popover-arrow {
    border-color: var(--primary_color) !important;
  }
}

@media screen and (max-width: 768px) {
  .ant-drawer-content-wrapper {
    width: 95% !important;
  }
}

.right-flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
