.countdown {
  width: 100%;
  background-color: $blue-2;
  margin-top: -8px;
	padding: 3vh 10px;

	.col-sm-4 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.col-3 {
		border-left: 2px solid white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.col-3:last-child {
		border-right: 2px solid white;
	}

	.countdown-white {
		color: white;
		font-size: 20px;
		font-weight: 600;
	}
	.countdown-white-1 {
		color: white;
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 0;
	}
	
	.countdown-label {
		font-size: 18px;
		color: rgba(76,171,206,1);
		text-transform: uppercase;
	}
}
