.dashboard {
  width: 100%;
  min-height: 50vh;
}

.integra-badge {
  top: 100px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  img {
    height: 70px;
  }
}

.detail-desc {
  h3 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.org-dashboard-logo {
  width: 100%;
  height: auto;
  max-width: 220px;
  float: right;
}

.user-card {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 8px var(--shadow_color);
  cursor: pointer;
  .ant-avatar {
    width: 50px;
    height: 50px;
    border-radius: 3px;
  }
}

.custom-tabs {
  .ant-tabs-nav::before {
    border-bottom: 1px solid black !important;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color: var(--background_color) !important;
    background-color: transparent !important;
    margin-right: -1px !important;
    margin-left: -1px !important;

    .ant-tabs-tab-btn {
      color: black;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .ant-tabs-tab {
    border-color: black !important;
    background-color: black !important;
    padding: 17px 35px 17px !important;
    margin-right: 1px !important;
    border-radius: 0 !important;
    .ant-tabs-tab-btn {
      color: white;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .ant-tabs-tab:first-child {
    margin-left: 0 !important;
  }

  .ant-tabs-content-holder {
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .org-dashboard-logo {
    float: unset;
    margin-left: 10%;
  }
}
