.main-background {
  width: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;

  a:hover {
    text-decoration: none;
  }

  .home-bg {
    width: 70vw;
    position: absolute;
    top: -40vw;
    opacity: 0.2;
  }

  .home-footer {
    height: 45px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .home-child {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 60px);

    .main-background-title {
      margin-top: 70px;
      color: $blue;
      font-size: 70px;
      width: 100%;
      text-align: center;
    }

    .home-btn-group {
      display: flex;
      margin-top: 12vh;

      .main-btn {
        width: 230px;
      }
      .main-btn:nth-child(2) {
        margin-left: 50px;
      }
    }

    p {
      font-size: 22px;
    }

    .home-intro {
      margin-top: 15vh;
    }

    .is-btn {
      position: absolute;
      bottom: 70px;
      display: flex;
    }

    .inv-btn {
      position: absolute;
      bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .inv-learn {
        margin-top: 10px;
        font-size: 20px;
        &:hover {
          text-decoration: unset;
          color: $blue;
        }
      }
    }
  }
}

.mt-big {
  margin-top: 17vh !important;
}

.main-btn {
  color: white;
  background: $blue;
  font-size: 20px;
  border: 1px solid blue;
  padding: 5px 30px;
  text-align: center;

  &:hover {
    color: white;
    background: $purple-blue;
    text-decoration: unset;
  }
}

.main-btn-secondary {
  background: $gray-200;
  border: 1px solid $gray-600;
  color: #333;
  &:hover {
    color: #333;
    background: $gray-300;
  }
}

.invite-file-zone {
  width: 90vw;
  max-width: 1000px;
  text-align: center;
  background: $blue;
  color: white;
  padding: 60px 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main-background {
    .home-bg {
      width: 90vw;
      top: -45vw;
    }

    .home-child {
      .main-background-title {
        font-size: 38px;
        margin-top: 50px;
      }

      .home-btn-group {
        .main-btn:nth-child(1) {
          margin-right: 20px;
        }
        .main-btn {
          width: 150px;
        }
      }

      p {
        font-size: 18px;
      }

      .inv-btn {
        position: relative;
        margin: 30px 0;
        bottom: unset;

        .main-btn {
          width: 100%;
        }
      }
    }
  }

  .main-btn {
    font-size: 16px;
    padding: 3px 20px;
  }
}
