.main-background {
  width: 100%;
  position: relative;

  .invite-home {
    width: 96%;
    max-width: 450px;
    margin: auto;
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 9px var(--shadow_color);
    border-top: 3px solid var(--primary_color);
    border-radius: 3px;
    margin-bottom: 50px;

    .invite-page-logo {
      width: 80px;
    }

    .home-intro {
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .home-span {
      font-size: 13px;
    }
  }
}

.home-page {
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-background-title {
    font-size: 38px;
    margin-top: 130px;
    padding-bottom: 30px;
  }
  button {
    width: 300px;
  }
  a {
    color: var(--font_color) !important;
    text-decoration: underline;
  }
}

.pdf-home {
  .file-drop {
    width: 96%;
    margin: auto;
    box-shadow: 0 2px 9px var(--shadow_color);
    border-top: 3px solid var(--primary_color);
    border-radius: 3px;
    background-color: white;

    .file-drop-target {
      padding: 50px;
    }

    .file-drop-dragging-over-target {
      box-shadow: 0px 0px 5px $gray-500;
    }

    .invite-file-zone {
      width: 100%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px dashed #ccc;
      border-radius: 3px;

      span {
        font-size: 18px;
      }
      label {
        text-decoration: underline;
        cursor: pointer;
      }
      #file_input_id {
        display: none;
      }
    }
  }
}

.confirm-file-read {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";

  img {
    margin-bottom: 30px;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
  }

  & > span {
    font-weight: bold;
    text-align: center;
  }
}

.home-invite-form {
  box-shadow: 0 2px 9px var(--shadow_color);
  border-top: 3px solid var(--primary_color);
  border-radius: 3px;
  padding: 40px;
  background-color: white;
}

.org-invite-form {
  box-shadow: 0 2px 9px var(--shadow_color);
  border-radius: 3px;
  padding: 40px;
  background-color: white;
}

.form-label {
  font-size: 12px;
  font-weight: bold;
}

.main-background-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

.main-home-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.mt-big {
  margin-top: 17vh !important;
}

.main-btn {
  color: white;
  background: var(--primary_color);
  font-size: 20px;
  border: 1px solid gray;
  padding: 5px 30px;
  text-align: center;

  &:hover {
    color: white;
    opacity: 0.9;
    text-decoration: unset;
  }
}

.home-btn-group {
  display: flex;
  a:last-child {
    margin-left: 30px;
  }
}

.content a.main-btn,
.home-child a.main-btn {
  color: white;
}

.main-btn-secondary {
  background: $gray-200;
  border: 1px solid $gray-600;
  color: #333;
  &:hover {
    color: #333;
    background: $gray-300;
  }
}

.org-invite-radiobox {
  width: 100%;

  .ant-radio-wrapper:first-child {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    padding-top: 0;
  }

  .ant-radio-wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    white-space: normal;
    .ant-radio {
      margin-right: 15px;
    }
    p {
      margin-bottom: 1px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-background {
    .invite-home {
      padding: 30px 20px;
      .home-intro {
        font-size: 16px;
      }
      .home-span {
        text-align: center;
        font-size: 12px;
      }
      .black-btn.wide {
        padding: 20px 30px !important;
      }
    }
  }

  .home-page {
    .main-background-title {
      font-size: 25px;
      margin-top: 60px;
      padding-bottom: 0;
    }
  }

  .pdf-home {
    .file-drop {
      width: 100%;
      .file-drop-target {
        padding: 20px;
      }
      .invite-file-zone {
        span {
          font-size: 15px;
        }
      }
    }
  }

  .confirm-file-read {
    padding: 10px;
    img {
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .home-invite-form {
    padding: 25px 30px;
  }

  .main-background-title {
    font-size: 20px;
    line-height: 30px;
  }

  .main-home-title {
    font-size: 20px;
    line-height: 30px;
  }

  .main-btn {
    font-size: 16px;
    padding: 3px 20px;
  }
}
