@import "./variables.scss";
@import "./base.scss";
@import "./pages.scss";
@import "./auth.scss";
@import "./user.scss";
@import "./dashboard.scss";
@import "./organization.scss";
@import "./challenge.scss";
@import "./profile/index.scss";
@import "./project.scss";
@import "./admin.scss";
@import "./notification.scss";
@import "./home.scss";
@import "../assets/fonts/Poppins-Black.ttf";
@import "./help.scss";
@import "./message.scss";
@import "./techhub.scss";
@import "./article.scss";
@import "./invite.scss";
@import "../assets/fonts/Poppins-Black.ttf";
@import "./component.scss";

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../assets/fonts/Poppins-Regular.ttf) format("opentype");
}

// --primary_color : dynamic app primary color
// --secondary_color : dynamic app secondary color
// --background_color : dynamic app background color
// --menufont_color : dynamic app menu font color
// --font_color : dynamic app font color
// --link_color : dynamic app link color
// --shadow_color : dynamic app shadow color

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  font-family: "Poppins";
  color: var(--font_color);
  background-color: var(--background_color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .ant-list-item-meta-description,
  .ant-list-item,
  .ant-form,
  .ant-page-header,
  .ant-page-header-heading-title,
  .ant-descriptions-item-label,
  .ant-descriptions-item-content,
  .ant-breadcrumb,
  .ant-breadcrumb > span:last-child,
  .ant-list-item-meta-content,
  .ant-tabs {
    color: var(--font_color);
  }

  a,
  .ant-list-item-action a,
  .ant-btn-link {
    color: var(--link_color);
  }

  .ant-layout {
    background-color: var(--background_color);
  }

  .row {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.main-nav {
  width: 100%;
  z-index: 100;
  background-color: var(--secondary_color);

  .navbar-collapse {
    color: var(--menufont_color);
  }
  .container-nav {
    padding: 7px 5%;
    min-height: 63px;
  }
  nav a:hover {
    color: $gray-400 !important;
  }
  // nav a {
  //   color: white !important;
  // }

  .navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0.7;
  }

  .navbar-light .navbar-nav .dropdown {
    .dropdown-item .nav-link {
      opacity: 1;
      color: #333;
    }
    .dropdown-toggle {
      color: white;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  .navbar-light .navbar-nav .nav-link.active {
      color: white;
      opacity: 1 !important;
  }

  button a {
    color: inherit;
  }
  button a:hover {
    color: black !important;
  }

  .navbar-brand {
    img {
      height: 35px;
      width: auto;
    }
  }

  .nav-link .ant-badge {
    color: inherit;
    margin-top: 4px;
    // color: white !important;
  }
  & .page-logo {
    h3 {
      color: white;
    }
  }

  .anticon {
    vertical-align: 5px !important;
  }
}
.ant-badge {
  font-size: 22px !important;

  .ant-badge-count {
    height: 16px;
    min-width: 14px;
    padding: 0 4px;
    line-height: 16px;
    height: 15px;
    top: 3px;
    right: 4px;
    background-color: #3c76ee;
  }
}

.anticon {
  vertical-align: 2px !important;
}

.content {
  padding-top: 70px;
  min-height: calc(100vh - 123px);
  margin: 0 auto;
  padding-bottom: 45px;

  p {
    font-size: 1rem;
  }

  .ant-page-header {
    padding: 0 !important;
  }

  .sun-editor-editable {
    font-family: inherit;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px;
    p,
    ul {
      margin-bottom: 5px;
    }
  }
}

.sub-content {
  padding-top: 70px;
  min-height: calc(100vh - 183px);
  margin: 0 auto;
  padding-bottom: 45px;
}

.footer-box {
  width: 100%;
  padding: 15px 0;
  border-top: 2px solid #ddd;
  font-size: 14px;
  font-weight: 600;

  img {
    height: 28px;
    margin-left: 20px;
    width: auto;
  }
}

.ant-dropdown-placement-bottomRight {
  top: 20px !important;
  & ul {
    border-radius: 7px;
    padding: 10px;
  }
  & h5 {
    font-size: 13px;
    font-weight: bolder;
  }
}

.ant-popover {
  max-height: 50vh;
  overflow-y: auto;
}

.underscore {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: 40px !important;
  }
  .sub-content {
    padding-top: 50px !important;
  }
  h3 {
    font-size: 1.4rem !important;
  }
  h5 {
    font-size: 1.1rem !important;
  }
  .footer {
    .footer-link {
      font-size: 12px;
    }
    .footer-poweredby {
      padding-right: 10px;
      img {
        height: 30px;
        margin-left: -8px;
        width: 90px;
      }
    }
    .footer-address {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .ant-col-sm-24 {
    display: block;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .main-nav .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }

  .main-nav .navbar-expand-md .navbar-nav .nav-link.notif {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 1300px !important;
  }
}

@media (min-width: 1420px) {
  .container-half {
    max-width: 1400px !important;
  }
}
