.org-invite-box {
  padding: 10px;
  .org-invite-header {
    display: flex;
    margin-bottom: 20px;
    input {
      width: 250px;
      margin-right: 50px;
    }
  }
}

.project-teaminvite-box {
  margin-top: 50px;
}

.project-exuser-box {
  display: flex;
  
}