.comment {
  .ant-collapse-content {
    background-color: #ddeeff !important;
    max-height: 700px;
    overflow-y: auto;
  }
}

.template-lesson {
  width: 100%;
  text-align: right;
  padding: 20px 10px;
}

.template-btn {
  width: 250px;
}

.create-tech-box {
  border: 1px solid #eee;
  padding: 20px;

  .ant-avatar {
    border-radius: 3px;
  }
}

.template-listitem {
  align-items: flex-start !important;
  .template-listitem-body {
    box-shadow: 1px 1px 5px var(--shadow_color);
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: inherit;
    width: 100%;

    &:hover {
      text-decoration: none;
      box-shadow: 1px 1px 5px #ccc;
    }
  }
  button {
    width: 160px;
  }
}

.template-name-box {
  box-shadow: 1px 1px 5px var(--shadow_color);
  padding: 10px 15px;
  padding-bottom: 20px;
}

.template-desc-box {
  box-shadow: 1px 1px 5px var(--shadow_color);
  padding: 10px 15px;
  margin-top: 50px;
  margin-bottom: 10px;
  min-height: 41vh;
}

.template-tech-box {
  box-shadow: 1px 1px 5px var(--shadow_color);
  padding: 10px 15px;
  margin-top: 40px;
  min-height: 22vh;
}

.project-list {
  .ant-avatar {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }

  .ant-list-item-meta-title {
    font-size: 20px;
  }

  .ant-list-item-meta-description {
    font-size: 16px;
  }

  .ant-list-item {
    padding: 12px 10px;
    align-items: flex-start;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 5px var(--shadow_color);
    }
  }

  .ant-list-item-action a {
    font-size: 15px;
    color: #555;
    &:hover {
      text-decoration: none;
    }
  }
}

.project-info {
  box-shadow: 1px 1px 5px var(--shadow_color);
  border-top: 3px solid var(--primary_color);
  border-radius: 3px;
  background-color: white;

  .project-info-box {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    min-height: 14vh;

    .project-img-box {
      width: 150px;
      padding: 20px;
      img {
        width: 100%;
      }
    }

    span {
      font-size: 14px;
    }

    .project-detail-head {
      h3 {
        font-size: 28px;
        font-weight: 600;
      }
      p {
        font-size: 20px;
      }
    }
  }

  .project-desc-collapse {
    border: 0;
    .ant-collapse-header {
      background-color: black;
      color: white !important;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px !important;
      .anticon {
        display: none !important;
      }
    }
  }

  .project-timeline {
    padding: 20px 0;

    .timeline-header {
      display: flex;
      justify-content: space-between;
      padding: 40px;
    }

    .timeline-list {
      max-height: 300px;
      overflow-y: auto;
      list-style: none;
      padding: 0;

      li:last-child {
        border-bottom: 1px solid #eee;
      }
      .timeline-item {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eee;
        padding: 7px 40px;
      }
    }
  }
}

.project-team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-team-box {
  margin-top: 20px;

  .project-span {
    font-size: 14px;
    opacity: 0.7;
  }

  .ant-list-item {
    margin-bottom: 3px;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    padding-left: 10px;
    font-size: 14px;
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px var(--shadow_color);
    }
    .ant-avatar {
      width: 50px;
      height: 50px;
      border-radius: 3px;
    }
  }
}

.project-tech-items {
  list-style: none;
  padding: 0;

  &:last-child {
    border-bottom: 1px solid #ddd;
  }

  li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-top: 1px solid #ddd;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
    .ant-avatar {
      border-radius: 3px;
      margin-right: 10px;
    }
  }
}

.online-symbol {
  font-size: 20px;
  color: #07e207;
  margin-right: 5px;
}

.ghost-btn {
  font-size: 12px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  border: 1px solid var(--font_color) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.black-btn {
  background-color: black !important;
  color: white !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 4px !important;
}

.project-org-side {
  display: flex;
  img {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
}

.project-detail-desc {
  // border: 1px solid var(--primary_color);
  box-shadow: 1px 1px 5px var(--shadow_color);
  padding: 10px 15px;
  width: 100%;
  min-height: 25vh;
  margin-bottom: 20px;
}

.project-detail-clients {
  // border: 1px solid var(--primary_color);
  box-shadow: 1px 1px 5px var(--shadow_color);
  padding: 15px 10px;
  width: 100%;
  min-height: 21vh;
  margin-bottom: 20px;

  .ant-avatar {
    width: 40px;
    height: 40px;
  }
  .ant-list-item-meta-title {
    font-size: 16px;
  }
  .ant-list-item-meta-description {
    font-size: 14px;
  }
}

.project-general-box {
  box-shadow: 1px 1px 5px var(--shadow_color);
  padding: 15px 20px;
  width: 100%;
  min-height: 50px;
  display: flex;
  img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
  }

  &:hover {
    text-decoration: none;
  }
}

.invite-org {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .invite-tab {
    .ant-tabs-nav-list {
      width: 100%;
      .ant-tabs-tab {
        width: 50%;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .template-btn {
    width: 200px;
  }
  .project-detail-desc {
    .timeline-list {
      .timeline-item {
        font-size: 13px;
        margin-bottom: 12px;
        flex-direction: column;
      }
    }
  }

  .project-info {
    margin-bottom: 40px;
    .project-info-box {
      padding: 20px;
      .project-img-box {
        width: 100px;
        padding: 10px 5px;
      }
      .project-detail-head {
        p {
          font-size: 16px;
        }
      }
    }

    .project-timeline {
      .timeline-header {
        padding: 20px;
      }
      .timeline-list {
        .timeline-item {
          font-size: 13px;
          flex-direction: column;
          padding: 7px 20px;
        }
      }
    }
  }

  .project-tech-items {
    list-style: none;
    padding: 0;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    li {
      display: flex;
      align-items: center;
      padding: 5px 0;
      border-top: 1px solid #ddd;
      font-size: 14px;

      &:hover {
        cursor: pointer;
      }
      .ant-avatar {
        border-radius: 3px;
        margin-right: 10px;
      }
    }
  }
}

.ant-result {
  background-color: white;
}

.ant-dropdown-menu-item {
  a:hover {
    text-decoration: none !important;
  }
}
