.techhub-title-list {
  border: 1px solid var(--primary_color);
  min-height: 67vh;
  padding: 0 10px !important;
  margin-bottom: 10px !important;
  .ant-list-item {
    cursor: pointer;
    &:hover {
      background-color: $gray-200;
      color: $purple-blue;
    }
  }
  .ant-list-item.active {
    color: $light-green;
  }
}

.tech-article-box {
  border: 1px solid var(--primary_color);
  padding: 20px;
  min-height: 67vh;
}

.download-file-box {
  span {
    font-size: 14px;
  }
  div {
    a {
      font-size: 14px;
    }
  }
}

.iframe-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.learn-header {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  a {
    color: #333;
    font-size: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  a.active {
    color: $light-green;
  }
}

.learn-body {
  margin-top: 50px;
}

.learnhub-menu {
  width: 100%;
  background-color: $weak-blue;

  .ant-menu-submenu-title {
    background-color: $middle-blue;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 8px !important;
  }

  li.ant-menu-item {
    height: auto !important ;
    min-height: 60px;
    overflow: auto;
    text-overflow: unset;
    white-space: unset;
    display: flex;
    line-height: 20px !important;
    align-items: center;
    background-color: $weak-blue;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 8px;
    padding-top: 8px;
    img {
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .learn-header {
    margin-top: -20px;
    a {
      font-size: 16px;
    }
  }
}
