.download-file-box {
  span {
    font-size: 14px;
  }
  div {
    a {
      font-size: 14px;
    }
  }
}

.iframe-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.techhub-title-list {
  box-shadow: 1px 1px 5px var(--shadow_color);
  margin: 0 3px;
  margin-bottom: 20px !important;

  .ant-list-item {
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: white;
    }
  }
  .ant-list-item.active {
    font-weight: bold;
    background-color: white;
  }

  .ant-avatar {
    border-radius: 3px;
  }
}

.learn-body {
  margin-top: 50px;
}

.learnhub-menu {
  width: 100%;
  background-color: $weak-blue;

  .ant-menu-submenu-title {
    background-color: $middle-blue;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 8px !important;
  }

  li.ant-menu-item {
    height: auto !important ;
    min-height: 60px;
    overflow: auto;
    text-overflow: unset;
    white-space: unset;
    display: flex;
    line-height: 20px !important;
    align-items: center;
    background-color: $weak-blue;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 8px;
    padding-top: 8px;
    img {
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .learn-header {
    margin-top: -20px;
    a {
      font-size: 16px;
    }
  }

  .iframe-box {
    flex-direction: column;
    align-items: flex-start;

    .download-file-box {
      margin-bottom: 20px;
      a {
        word-break: break-all;
      }
    }
  }
}
