.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  h5 {
    font-weight: 600;
  }
}

.user-detail-logo {
  width: 100%;
  max-width: 220px;
  height: auto;
  float: right;
}

.user-span {
  margin-bottom: 20px;
  p {
    font-size: 12px !important;
    font-weight: bold;
    margin-bottom: 5px !important;
  }

  .user-personal {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    background-color: white;
  }
}

.projects-table-header {
  display: flex;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  color: #bbb;
  height: 40px;
  font-size: 12px;
  font-weight: bold;

  span:nth-child(1) {
    width: 15%;
  }
  span:nth-child(2) {
    width: 35%;
  }
  span:nth-child(3) {
    width: 20%;
  }
  span:nth-child(4) {
    width: 20%;
  }
  span:nth-child(5) {
    width: 10%;
  }
}

.project-table-item {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 1px 4px var(--shadow_color);
  margin-bottom: 10px;

  &:hover {
    box-shadow: 1px 1px 8px var(--shadow_color);
    cursor: pointer;
  }

  .cell0 {
    padding: 20px 0;

    .ant-avatar {
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }

    p {
      margin-bottom: 4px !important;
      font-size: 13px !important;
    }
  }

  .cell0:nth-child(1) {
    width: 15%;
    text-align: center;
  }
  .cell0:nth-child(2) {
    width: 35%;
  }
  .cell0:nth-child(3) {
    width: 20%;
  }
  .cell0:nth-child(4) {
    width: 20%;
  }
  .cell0:nth-child(5) {
    width: 10%;
  }
}

.project-table-item.constracted {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.account-nav {
  background-color: white;
  box-shadow: 0 2px 5px #bbb;
  padding-top: 28px;

  .container {
    display: flex;
    a {
      color: inherit !important;
      &:hover {
        text-decoration: none;
      }
      p {
        font-size: 13px;
        margin-bottom: 10px;
      }
    }
    a.active {
      border-bottom: 3px solid var(--primary_color);
    }
  }

  .subnav-responsive {
    overflow-x: auto;
  }
}

.account-form-box {
  box-shadow: 0 2px 9px var(--shadow_color);
  border-top: 3px solid var(--primary_color);
  border-radius: 3px;
  background-color: white;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .projects-table-header {
    display: none;
  }

  .project-table-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
    padding: 15px 0;
    .cell0 {
      padding: 5px 30px !important;
      width: 100% !important;
    }
  }

  .user-detail-logo {
    float: none;
  }

  .account-form-box {
    padding: 20px;
    padding-bottom: 10px;
  }
}
